.landing-page {
  background: rgb(255, 221, 161);
  background: linear-gradient(0deg,
      rgba(255, 221, 161, 1) 0%,
      rgba(255, 209, 81, 1) 34%,
      rgba(237, 178, 48, 1) 70%,
      rgba(238, 139, 69, 1) 100%);
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 95%;
  margin: 0 auto;
}

.title {
  font-size: 70px;
  color: #ffffff;
  letter-spacing: 4px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  justify-content: space-evenly;
  width: 50%;
}

.landingButtons {
  padding: 0.7em 3em;
  border: 3px solid #ffffff;
  font-size: 24px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  background-color: Transparent;
  text-align: center;
  transition: all 0.15s;
  /* margin: 1em; */
  cursor: pointer;
}

.landingButtons:hover {
  color: #dddddd;
  border-color: #dddddd;
}

.landingButtons:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

.lower {
  display: flex;
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  height: calc(100vh - 170px);
}

.gallery {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1em;
  column-gap: 1em;
}

.sample-face {
  border: 2px solid #ffffff;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%), 0 2px 6px 2px rgb(0 0 0 / 15%);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
}

.description {
  text-align: left;
  font-size: 24px;
  color: #ffffff;
  margin-left: 30px;
}

.creator {
  color: #854d04;
}