* {
  border: 1px solid red;
}

.wrapperMain {
  display: flex;
}

.leftMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
}

.captureMain {
  padding: 0.7em 3em;
  width: 300px;
  border: 3px solid #ffffff;
  font-size: 24px;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  background-color: Transparent;
  text-align: center;
  transition: all 0.15s;
}

.captureMain:hover {
  color: #dddddd;
  border-color: #dddddd;
}

.captureMain:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

.webcamMain {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  /* Safari and Chrome */
  -moz-transform: rotateY(180deg);
  /* Firefox */
  height: 540px;
  width: 720px;
  border: 3px solid #ffffff;
}

.snapsMain {
  display: flex;
  flex-direction: column;
}

.snapMain {
  height: 200px;
  width: 300px;
  border: 2px solid white;
}