@media only screen and (max-width: 950px) {

  /* landing page */
  html {
    background-repeat: repeat-y;
  }

  .landing-page {
    width: auto;
    height: 100%;
    margin: 10px;
    padding: 10px;
  }

  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center, space-between;
    padding: 10px;
  }

  .title {
    font-size: 65px;
  }

  .landingButtons {
    font-size: 14px;
  }

  .info {
    width: 45%;
    height: 100%;
  }

  .description {
    font-size: 21px;
  }

  .gallery {
    column-gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .sample-face {
    height: 250px;
    width: 250px;
    margin: 30px;
  }

}

@media only screen and (max-width: 750px) {

  .landing-page {
    margin: 10px;
    padding: 15px;
  }

  .info {
    width: 70%;
    height: 100%;
  }
}

@media only screen and (max-width: 550px) {

  .landing-page {
    margin: 20px;
    padding: 15px
  }

  .info {
    width: 70%;
    height: 100%;
  }

  .sample-face {
    height: 275px;
    width: 275px;
    margin: 30px;
  }
}