.wrapper {
  padding: 20px;
}

.signUpForm {
  display: flex;
  flex-direction: column;
}

.signUpInput {
  position: relative;
  border-color: rgb(203, 203, 203);
  background-color: rgba(255, 221, 161, 1);
  margin: 20px;
  padding-left: 10px;
  width: 350px;
  height: 25px;
  border-top: none;
  border-right: none;
  border-left: 1px solid grey;
}

.signUpInput:hover {
  border-color: black;
  transition: ease 0.5s;
}

input:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 15%), 0 2px 6px 2px rgb(0 0 0 / 15%);
}

.signInButtons {
  border: 1px solid black;
  cursor: pointer;
  color: black;
  border: solid black;
  border-radius: 5px;
  margin: 8px;
}

.signInButtons:hover {
  background-color: rgb(215, 212, 255);
  color: black;
  border: solid black;
  transition: ease 0.175s;
}